h1{
    border-width: 3px;
    border-color: red;
    border-style: solid;
    /*shorthand*/
    border: 3px solid green;

}
p{
    border-top: 5px solid red;
    border-bottom: 5px solid blue;
    border-right: 5px solid black;
    border-left: 5px solid green;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 40px;

}
.circle{
    width: 200px;
    height: 200px;
    border: 5px solid blue;
    border-radius: 50%;
}
h2{
    border: 3px solid red;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 20px;

    /*shorthand*/
    padding: 10px 20px 30px 40px;
    
    /*shorthand top/bottom/left/right*/
    padding: 20px 30px;

    /* all side*/
    padding: 20px;

    /*margin all sider*/
    margin: 30px;

    /*shorthand top right bottom left*/
    margin: 10px20px30px40px;

    /*shorthand top/bottom left/right*/
    margin: 20px30px;

    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
}


























